.NasaIotd{
    overflow-y: scroll;
    grid-area: top-left;
    > *:not(:last-child) {
        margin: 0 0 .5em;
    }
    &--img {
        cursor: zoom-in;
    }
    &--copyright {
        color: purple;
        font-size: 80%;
    }
    &--desc {
        flex: 1;
        font-size: 80%;
    }
}
