$ButtonHeigth: 40px;
$ButtonWidth: 90px;
$ButtonColor: rgb(21, 31, 47);
$BreakPoint: 768px;
.NavBar--SignedOut{
    //background: grey;
    height: 100%;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    a{
        text-decoration-line: none;
    }
}

.NavBar--Signup{
    border-radius:  5px;
    width:  $ButtonWidth;
    height:   $ButtonHeigth;
    background: $ButtonColor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.NavBar--Login{
    border-radius:  5px;
    width:  $ButtonWidth;
    height:   $ButtonHeigth;
    background: $ButtonColor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emoji {
    position: absolute;
    top: 34px;
    left: 4vw;
    cursor: pointer;

    @media screen and (max-width: $BreakPoint) {
        left: 1vw;
    }
}
