@import 'reset';
@import 'navbar';
@import 'modal';
@import 'nasaiotd';
@import 'news';
@import 'rover';
@import 'nightsky';

$MainBackground: #252c37;
$MainPage--SideBarColor: #252c37;
$MainBackground--Header: rgb(16, 22, 31);
$LeftSideBar: 20%;
$BoxShadow : 0px 1px 80px rgb(21, 10, 47);
$ButtonColor: #15202F;
$HeightOfDashBoard: 100%;
$NavBarHeight: 100px;

$BreakPoint: 768px;

#root{
    height: $HeightOfDashBoard;
}

.App{
    background: purple;
    height: $HeightOfDashBoard;
}

*{
    // Hides scroll bar on page.
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important }
}

html{
    scroll-behavior: smooth;
}

body{
    background: $MainBackground--Header;
}

.NavBar{
    display: flex;
    padding: 0 4% 0 10%;
    align-items: center;
    justify-content: space-between;
    background: $MainBackground--Header;
    height: $NavBarHeight;
    width: 100%;
    color: white;
    position: absolute;
    box-shadow: $BoxShadow;
    z-index: 1111;

    h1 {
        min-width: fit-content;
    }
}
.MainPage--Body{
    position: relative;
    background: red;
    display: grid;
    height:$HeightOfDashBoard;
    width:100%;
    grid-template-areas: "left top" "left right";
    grid-template-rows: $NavBarHeight 1fr;
    grid-template-columns: 10% 90%;
    overflow: hidden;
}

.MainPage--Top{
    height: $NavBarHeight;
    grid-area: top;
}
.MainPage--SideBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 111;
    grid-area: left;
    width: 10%;
    height: 100%;
    overflow: visible;

    .SideBarHeader{
        width: 100%;
        height: $NavBarHeight;
        background: $MainBackground--Header;
        font-size: 2em;
    }

    .SideBarToggles {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: $MainPage--SideBarColor;
        box-shadow:$BoxShadow;
        padding: .5em;
    }
}
.SideBar--Background{
    opacity: .8;
}

.SideBar--Button--on {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 10px 0px;
  background: white;
  border-radius: 8px;
  text-align: center;
  height: 70px;
  border: 2px solid white;
  cursor: pointer;
  padding: .1em;
}

.SideBar--Button--off {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 10px 0px;
  color: white;
  background: #15202F;
  text-align: center;
  height: 70px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: .1em;
}

.MainPage--Widgets {
    background: #2b2541;
    grid-area: right;
    display: grid;
    grid-template-areas:
        "top-left top-right"
        "left right"
        "bottom bottom";
    grid-template-rows: min-content;
    grid-template-columns: 50% 50%;
    margin: .5em;

    div {
        z-index: 11;
        position: relative;
    }

    @media screen and (max-width: $BreakPoint) {
        display: block;
        padding: 4% 2%;
        margin: 0;
    }
}

.rover-images {
    grid-area: bottom;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    border: 2px solid #72655F;
    border-radius: 8px;
    background: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: column;
    margin: .5em;
}

.rover-images .paging-dot {
  background: white !important;
}

.MainPage--Widgets > div:not(.rover-images) {
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    border: 2px solid #72655F;
    border-radius: 8px;
    background: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    margin: .5em;

    @media screen and (max-width: $BreakPoint) {
        height: 75vh;
        margin-bottom: 1em;
    }
}

.slider {
    overflow: hidden;
    min-height: 480px;
}

.rover-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    background-size: cover;
    object-fit: cover;
    background-position-y: center;
    cursor: zoom-in;
}

.rover-info {
    margin: 2rem;
    background-color: black;
    color: white;
}

.logout {
  height: 40px;
  font-size: 1rem;
  padding: .5em;
  border-radius: 8px;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  color: black;
  width: 1em;
  height: 1em;
  background-color: white;
  cursor: help;
}

.info:hover {
  color: transparent;
  -webkit-animation: fadein 0s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0s; /* Firefox < 16 */
  -ms-animation: fadein 0s; /* Internet Explorer */
  -o-animation: fadein 0s; /* Opera < 12.1 */
  animation: fadein 0s;
}

.spacer {
  flex-grow: 1;
}

.info:hover:after {
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s; /* Firefox < 16 */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera < 12.1 */
  animation: fadein .5s;

  border: 1px solid white;
  position: relative;
  left: 9.7rem;
  content: "Welcome to Spacey! Toggle any sources you wish using the buttons on the left. After creating an account, your choices will be saved.";
  height: auto;
  min-width: 15rem;
  text-align: center;
  color: white;
  padding: .3rem;
  font-size: .8rem;
  border-radius: 8px;
  cursor: help;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

form input {
  width: 286px;
  min-height: 30px;
  font-size: .9rem;
  text-align: center;
  margin-bottom: 1rem;
}
.sign-up-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-h2 {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border-radius: 5px;
    margin-bottom: 0;
}


