@import 'reset';
@import 'navbar';
@import 'modal';
@import 'nasaiotd';
@import 'news';
@import 'rover';
@import 'nightsky';

$MainBackground: #252c37;
$MainPage--SideBarColor: #252c37;
$MainBackground--Header: rgb(16, 22, 31);
$LeftSideBar: 20%;
$BoxShadow : 0px 1px 80px rgb(21, 10, 47);
$ButtonColor: #15202F;
$HeightOfDashBoard: 100%;
$NavBarHeight: 100px;

$BreakPoint: 768px;

#root{
    height: $HeightOfDashBoard;
}

.App{
    background: purple;
    height: $HeightOfDashBoard;
}

html{
    scroll-behavior: smooth;
}

body{
    background: $MainBackground--Header;

    // Hides scroll bar on main document body.
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important }
}

.MainPage{
    width: 100vw;
    height: $HeightOfDashBoard;
    background: $MainBackground;
    position: relative;

}
.NavBar{
    display: flex;
    padding: 0 4% 0 10%;
    align-items: center;
    justify-content: space-between;
    background: $MainBackground--Header;
    height: $NavBarHeight;
    width: 100%;
    color: white;
    position: absolute;
    box-shadow: $BoxShadow;
    z-index: 1111;

    h1 {
        min-width: fit-content;
    }
}
.MainPage--Body{
    position: relative;
    background: red;
    display: grid;
    height:$HeightOfDashBoard;
    width:100%;
    grid-template-areas: "left top" "left right";
    grid-template-rows: $NavBarHeight 1fr;
    grid-template-columns: 10% 90%;
    overflow: hidden;
}

.MainPage--Top{
    height: $NavBarHeight;
    grid-area: top;
}
.MainPage--SideBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 111;
    grid-area: left;
    width: 10%;
    height: 100%;
    overflow: visible;

    .SideBarHeader{
        width: 100%;
        height: $NavBarHeight;
        background: $MainBackground--Header;
        font-size: 2em;
    }

    .SideBarToggles {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        flex: 1;
        background: $MainPage--SideBarColor;
        box-shadow:$BoxShadow;
        padding-top: 2rem;
    }
}
.SideBar--Background{
    opacity: .8;

}
.SideBar--Button--on{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 10px 0px;
    background: $ButtonColor;
    text-align: center;
    height: 70px;


}
.SideBar--Button--off{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 10px 0px;
    background: pink;
    text-align: center;
    height: 70px;


}

.MainPage--Widgets{
    background: rgb(43, 37, 65);
    grid-area: right;
    display: grid;
    grid-template-areas:
        "top-left top-right"
        "left right"
        "bottom bottom";
    grid-template-rows: min-content;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    div{
        z-index: 11;
        position: relative;
    }
    padding: 3em 2%;

    @media screen and (max-width: $BreakPoint) {
        display: block;
        padding: 4% 2%;
    }
}

.MainPage--Widgets > div:not(.rover-images) {
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    border: 2px solid #72655F;
    border-radius: 8px;
    background: rgba(0,0,0,0.3);
    color: white;

    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;

    @media screen and (max-width: $BreakPoint) {
        height: 75vh;
        margin-bottom: 1em;
    }
}

.slider {
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0 0.1px 0.1px 0.2px;
    min-height: 480px;
}

.rover-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    background-size: cover;
    object-fit: cover;
    background-position-y: top;
    cursor: zoom-in;
}

.rover-info {
    margin: 2rem;
}

//     display: flex;
//     width: 100%;
//     justify-content: space-evenly;
//     padding-bottom: 2%;
// }

