* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.NavBar--SignedOut {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
.NavBar--SignedOut a {
  text-decoration-line: none;
}

.NavBar--Signup,
.NavBar--Login {
  border-radius: 5px;
  width: 90px;
  height: 40px;
  background: #151f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(128, 0, 255, 0.05);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.NavBar--Signup:hover, .NavBar--Signup:focus,
.NavBar--Login:hover, .NavBar--Login:focus {
  box-shadow: 0 5px 15px rgba(128, 0, 255, 0.1);
  transform: translateY(-0.1em);
}

.NavBar--Logo {
  width: 10%;
}

.NavBar--Header {
  cursor: default;
}

.logout {
  height: 40px;
  font-size: 1rem;
  padding: .5em;
  border-radius: 8px;
  cursor: pointer;
}

.emoji {
  position: absolute;
  top: 34px;
  left: 4vw;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .emoji {
    left: 1vw;
  }
}

.overlay {
  position: absolute;
  z-index: 111111;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay--ClickGrabber {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: -1;
}

.ModalForm {
  position: fixed;
  border-radius: 10px;
  width: 600px;
  z-index: 33;
  height: 300px;
  background: #1e2b3d;
  border: 2px solid white;
  box-shadow: 0px 0px 100px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 286px;
  min-height: 30px;
  font-size: .9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.sign-up-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-h2 {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0;
}

.ModalImgBox {
  position: fixed;
  background: #1e2b3d;
  box-shadow: 0px 0px 100px black;
  border-radius: 10px;
  max-width: 600px;
  max-height: 95%;
  overflow: hidden;
  transition: 0.3s ease-out;
  cursor: zoom-in;
}
.ModalImgBox.big {
  max-width: 95%;
  cursor: zoom-out;
}
.ModalImgBox .ModalImg {
  width: 100%;
  transition: 0.3s ease-out;
}

.SessionErrors {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 0;
  padding: 30px 0px;
  font-weight: bold;
  border-radius: 3px;
}

.NasaIotd {
  grid-area: top-left;
}

.NasaIotd--img {
  margin: 2em 0;
  cursor: zoom-in;
}

.NasaIotd--copyright {
  color: purple;
  margin-left: 2em;
  font-size: 80%;
}

.NasaIotd--desc {
  flex: 1;
  overflow-y: scroll;
  font-size: 80%;
}

.News--Sources {
  margin-top: -30px;
  height: 80px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.News--Source {
  float: left;
  width: 33.3%;
}
.News--Source a {
  position: relative;
  display: block;
  height: 52px;
  margin-top: 40px;
  padding: 10px 0 0 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #10161e;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  border: 0px solid #000;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}
.News--Source a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}
.News--Source a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  color: white;
  background: #10161e;
  border-top: 2px solid #72655F;
  border-right: 2px solid #72655F;
  border-left: 2px solid #72655F;
  z-index: 6;
  outline: none;
}

.News--Source:first-child a {
  z-index: 5;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
}

.News--Source:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}

.Timeline > div {
  flex: 1;
  overflow-y: scroll;
  margin-top: 10px;
}

.Timeline--Link {
  color: white;
}

.Timeline--Profile {
  width: 36px;
  border-radius: 50%;
}

.Timeline--Thumbnail {
  position: absolute;
  left: -1px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.Timeline--Image {
  position: relative;
  width: 100px;
  height: 100px;
  padding-top: 4px;
  padding-right: 12px;
  float: left;
  cursor: zoom-in;
}

.Timeline--Body {
  color: black;
  transition: max-height 1s ease-out;
  max-height: 100px;
}

.Timeline--Body.expanded,
.twitterfeed .Timeline--Body {
  max-height: 1000px;
}

.Timeline--Location {
  font-size: 80%;
  color: #111;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Timeline--Description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.Timeline--Body.expanded .Timeline--Description,
.Timeline--Body.expanded .Timeline--Location,
.twitterfeed .Timeline--Body .Timeline--Description {
  overflow: initial;
  display: block;
}

.Timeline--Body.expanded .Timeline--Description::after {
  content: " Go to article";
  color: blue;
}

.twitterfeed .Timeline--Body .Timeline--Description::after {
  content: " Go to tweet";
  color: blue;
}

.Timeline--Body.expanded .Timeline--Description:hover::after,
.twitterfeed .Timeline--Body .Timeline--Description:hover::after {
  color: purple;
}

.Timeline--Media {
  width: 100%;
  cursor: zoom-in;
}

.news-container {
  width: 47%;
}

.rover-images {
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  border: 2px solid #72655F;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: .5em;
  grid-area: bottom;
}

.paging-dot {
  background: white !important;
}

/* =============================================================================
SED Innovations
https://sed.am
https://mkrtchyan.ga
============================================================================= */
* {
  margin: 0;
  padding: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.stars, .twinkling, .clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index: 3;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

/* =============================================================================
Yusuke Nakaya
https://codepen.io/YusukeNakaya/pen/XyOaBj
============================================================================= */
.night {
  position: relative;
  width: 150vw;
  height: 100vh;
  transform: translateX(-20vw) translateY(-20vh) rotateZ(45deg);
  z-index: 2;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star:nth-child(1) {
  top: calc(50% - -56px);
  left: calc(50% - 290px);
  animation-delay: 1101ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 134px);
  left: calc(50% - 220px);
  animation-delay: 537ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 392px);
  left: calc(50% - 266px);
  animation-delay: 7973ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -10px);
  left: calc(50% - 143px);
  animation-delay: 4782ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 25px);
  left: calc(50% - 118px);
  animation-delay: 7662ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 179px);
  left: calc(50% - 44px);
  animation-delay: 6358ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 238px);
  left: calc(50% - 161px);
  animation-delay: 1257ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -88px);
  left: calc(50% - 203px);
  animation-delay: 6231ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 142px);
  left: calc(50% - 95px);
  animation-delay: 6910ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 34px);
  left: calc(50% - 106px);
  animation-delay: 2312ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
#root {
  height: 100%;
}

.App {
  background: purple;
  height: 100%;
}

* {
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  width: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #10161f;
}

.MainPage {
  width: 100vw;
  height: 100%;
  background: #252c37;
  position: relative;
}

.NavBar {
  display: flex;
  padding: 0 4% 0 10%;
  align-items: center;
  justify-content: space-between;
  background: #10161f;
  height: 100px;
  width: 100%;
  color: white;
  position: absolute;
  box-shadow: 0px 1px 20px #150a2f;
  z-index: 1111;
}
.NavBar h1 {
  min-width: fit-content;
}

.MainPage--Body {
  position: relative;
  background: red;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "left top" "left right";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 10% 90%;
  overflow: hidden;
}

.MainPage--Top {
  height: 100px;
  grid-area: top;
}

.MainPage--SideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 111;
  grid-area: left;
  width: 10%;
  height: 100%;
  overflow: visible;
}
.MainPage--SideBar .SideBarHeader {
  width: 100%;
  height: 100px;
  background: #10161f;
  font-size: 2em;
}
.MainPage--SideBar .SideBarToggles {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #252c37;
  box-shadow: 0px 1px 80px #150a2f;
  padding: .5em;
}

.SideBar--Background {
  opacity: 0.8;
}

.SideBar--Button--on {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 10px 0px;
  background: white;
  border-radius: 8px;
  text-align: center;
  height: 70px;
  cursor: pointer;
  padding: .1em;
}

.SideBar--Button--off {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 10px 0px;
  color: white;
  background: #15202F;
  text-align: center;
  height: 70px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: .1em;
}

.MainPage--Widgets {
  background: #2b2541;
  grid-area: right;
  display: grid;
  grid-template-areas: "top-left top-right" "left right" "bottom bottom";
  grid-template-rows: min-content;
  grid-template-columns: 50% 50%;
  margin: .5em;
  /* padding: 3em 2%; */
}
.MainPage--Widgets div {
  z-index: 11;
  position: relative;
}
@media screen and (max-width: 768px) {
  .MainPage--Widgets {
    display: block;
    padding: 4% 2%;
    margin: 0;
  }
}

.MainPage--Widgets > div:not(.rover-images) {
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  border: 2px solid #72655F;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  margin: .5em
}
@media screen and (max-width: 768px) {
  .MainPage--Widgets > div:not(.rover-images) {
    height: 75vh;
    margin-bottom: 1em;
  }
}

.slider {
  overflow: hidden;
  border-radius: 8px;
  min-height: 480px;
}

.rover-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  background-size: cover;
  object-fit: cover;
  background-position-y: center;
  cursor: zoom-in;
}

.rover-info {
  margin: 2rem;
  background-color: black;
  color: white;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  color: black;
  width: 1em;
  height: 1em;
  background-color: white;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

/*# sourceMappingURL=styles.css.map */
